<div class="header">
  <div class="header-main">
    <div class="logo">
      <a title="捷和二手车" target="_self" href="/">捷和连锁管理系统</a>
    </div>
    <div class="nav">
      <ul>
        <li><a target="_self" href="/">首页</a>|</li>
        <li><a target="_blank" href="http://www.jh100.com/">官网首页</a></li>
      </ul>
    </div>
    <div class="header-right">
      <ul>
        <li class="username" id="aUserName"><i class="icon-home"></i>您好！{$userinfo.username}</li>
        <li class="quit">
          <a href="/public/logout/"><i class="icon-quit"></i>退出</a>
        </li>
      </ul>
    </div>
  </div>
</div>